* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: #0066ff;
  background: linear-gradient(141deg, #52e0e0 0%, #2B32EB 75%);
}

h1 {
  text-align: center;
}

tile {
  display: block;
  background-color: #FFF;
  background: linear-gradient(141deg, #FFFFFF 0%, #999999 75%);
  width: 6em;
  height: 6em;
  border-radius: 6em;
  text-align: center;
}
