* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: linear-gradient(#3399ff 0%, #0066ff %50)
}

h1 {
  text-align: center;
}

tile {
  background-color: white;
  width: 2.5em;
  height: 2.5em;
  border-radius: 2.5em;
}
