* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: #0066ff;
  background: linear-gradient(#3399ff 0%, #0066ff %50);
}

h1 {
  text-align: center;
}

tile {
  display: block;
  background-color: #FFF;
  background: linear-gradient(#FFF 0%, #999 %50);
  width: 5em;
  height: 5em;
  border-radius: 5em;
}
